/**
 * This is the mandatory CSS file to include on top of every CSS theme file 
 **/

:root {
	--tooltip-bg: rgba(55, 55, 55, 0.75);
	--tooltip-color: #fff;
}

#frameset {
	display: flex;
	flex-direction: row;
	height: 100vh;
	margin: 0;
}

html[dir="rtl"] #frameset {
	flex-direction: row-reverse;
}

#tree {
	width: 250px;
	min-width: 0px;
	max-width: 600px;
	overflow: auto;
}

#resizer {
	width: 5px;
	cursor: col-resize;
	background: #c4c4c4 linear-gradient(90deg,#fff 20%,#c4c4c4 50%,#fff 80%);
}

#content-container {
	flex: 1;
	/*background: #fff;*/
	overflow: auto;
	position: relative;
}

.no-select {
	user-select: none;
}

img {
	border: none;
}

p.message {
	color: blue
}

p.comment {
	font-style: italic
}

.left {
	text-align: left
}

.pre {
	white-space: pre
}

.arg_icon {
	padding-right: 5pt;
	padding-left: 5pt;
}

.refreshTree {
	float: right;
	text-align: right;
	padding: 0 3px;
}

.webfx-tree-row {
	white-space: nowrap
}

.webfx-tree-children {
	background-repeat: repeat-y;
	background-position-y: 1px !important; /* IE only */
}

.webfx-tree-row img {
	vertical-align: middle
}

.webfx-tree-item-label {
	margin-left: 0.5ex
}

.webfx-tree-icon {
	margin-left: 1px
}

.webfx-tree-hide-root {
	display: none
}

/** auto-complete on insert **/
#fkbg {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
}

#fklist {
	display: none;
	position: absolute;
	background: #fff;
	border: 1px solid #000;
	overflow: auto;
	z-index: 15;
}

#fklist table {
	border-collapse: collapse;
	border: 1px solid #aaa;
}

#fklist th {
	border: 1px solid #aaa
}

#fklist td,
#fklist th {
	padding: 3px 10px;
	border-right: 1px solid #aaa;
	font-size: 12px;
}

#fklist td a {
	display: block;
	color: #000;
}

#fklist td a.fkval, p.errmsg {
	color: red;
}

.ac_values {
	width: 100%
}

/** bottom link back to top **/
.bottom_link {
	position: fixed;
	bottom: 0px;
	right: 7px;
	margin: 0;
	text-decoration: none !important;
	opacity: .5;
}

.bottom_link:hover {
	opacity: 1;
}

/** FK browsing **/
div#root {
	position: absolute;
}

div.fk {
	margin-left: 20px;
}

div#fkcontainer {
	margin: 0;
	position: relative;
	width: 100%;
	background: none;
	border: 0px;
}

div.fk_value {
	display: inline-block;
}

.highlight {
	background-color: #FFFF00;
}

/** Syntax highlighting **/
.comment {
	color: #008080
}

.keyword {
	color: #FF8000
}

.literal {
	color: #808080
}

img.icon, .icon img, .webfx-tree-icon {
	width: 16px;
}

td[class^="opbutton"] img.icon {
	width: 12px;
	padding-bottom: 2px;
}

.pagenav-container {
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
}

.pagenav-container >* {
	display: inline-block;
}

.pagenav-form {
	display: inline-flex;
	align-items: center;
}

.pagenav-form input.page {
	margin-right: 2px;
}


.pagenav {
	text-decoration: none !important;
}

.pagenav.current {
	color: #000;
}

.disabled {
	opacity: .5;
	pointer-events: none;
}

.query-result-line {
	margin-top: 10px;
	text-align: center;
	padding: 5px;
	background: #eee;
}

.sql-editor {
	font-size: 1em;
}

.sql-editor.frame {
	border: 1px solid #999;
}

.sql-editor.resizable {
	resize: vertical;
	overflow: auto;
	min-height: 20px;
	height: 90px;
	/*max-height: 600px;*/
}

.sql-viewer.ace_editor {
	background-color: transparent !important;
	min-width: 200px;
}

.sql-viewer.ace_editor .ace_content,
.sql-viewer.ace_editor .ace_scroller {
	background-color: transparent !important;
}

a.orderby {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	/*align-items: flex-end;*/
}

#tooltip {
	background: var(--tooltip-bg);
	color: var(--tooltip-color);
	padding: 4px 8px;
	border-radius: 4px;
	font-size: 12px;
	display: none;
	z-index: 1000;
	/*white-space: pre-line;*/
	text-shadow: none;
}

#tooltip .arrow {
	position: absolute;
	width: 0;
	height: 0;
}

#tooltip[data-popper-placement^="top"] > .arrow {
	bottom: -4px;
	left: 0;
	margin-left: auto;
	margin-right: auto;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid var(--tooltip-bg);
}

#tooltip[data-popper-placement^="bottom"] > .arrow {
	top: -4px;
	left: 0;
	margin-left: auto;
	margin-right: auto;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid var(--tooltip-bg);
}

#tooltip[data-popper-placement^="left"] > .arrow {
	right: -4px;
	top: 0;
	margin-top: auto;
	margin-bottom: auto;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid var(--tooltip-bg);
}

#tooltip[data-popper-placement^="right"] > .arrow {
	left: -4px;
	top: 0;
	margin-top: auto;
	margin-bottom: auto;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-right: 5px solid var(--tooltip-bg);
}

.bottom-footer {
	/*margin-bottom: 10px;*/
}

#loading-indicator {
	position: fixed;
	left: 0;
	right: 0;
	height: 30px;
	border-radius: 15px;
	display: none;
	z-index: 9999;
	background: #dce6eb;
	justify-content: center;
	align-items: center;
	padding: 3px;
}

#loading-indicator.show {
	display: flex;
}

#loading-indicator .spinner {
	width: 100%;
	height: 100%;
	max-width: 33px;
	max-height: 33px;
	animation: loading-indicator-rotator 2s linear infinite;
}

@keyframes loading-indicator-rotator {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(270deg);
	}
}

#loading-indicator .path {
	stroke-dasharray: 250;
	stroke-dashoffset: 0;
	transform-origin: center;
	stroke: #4285F4;
	animation: loading-indicator-dash 2s ease-in-out infinite;
}

@keyframes loading-indicator-dash {
	0% {
		stroke-dashoffset: 250;
	}
	50% {
		stroke-dashoffset: 62.5;
		transform: rotate(135deg);
	}
	100% {
		stroke-dashoffset: 250;
		transform: rotate(450deg);
	}
}

.date-picker-input-container {
	display: flex;
}

.date-picker-button {
	cursor: pointer;
}

.empty-result {
	text-align: center;
	margin-top: 1em;
	margin-bottom: 1em;
}

/* Helper Classes */

.text-start {
	text-align: left !important;
}

.text-end {
	text-align: right !important;
}

.text-center {
	text-align: center !important;
}

.clearfix {
	clear: both;
}
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

.rotate-90 {
	transform: rotate(90deg);
}
.rotate-180 {
	transform: rotate(180deg);
}
.rotate-270 {
	transform: rotate(270deg);
}
.flip-x {
	transform: scale(-1, 1);
}
.flip-y {
	transform: scale(1, -1);
}

.m-auto {
	margin: auto !important;
}
.mt-auto,
.my-auto {
	margin-top: auto !important;
}
.mr-auto,
.mx-auto {
	margin-right: auto !important;
}
.mb-auto,
.my-auto {
	margin-bottom: auto !important;
}
.ml-auto,
.mx-auto {
	margin-left: auto !important;
}

.m-0 {
	margin: 0 !important;
}
.mt-0,
.my-0 {
	margin-top: 0 !important;
}
.mr-0,
.mx-0 {
	margin-right: 0 !important;
}
.mb-0,
.my-0 {
	margin-bottom: 0 !important;
}
.ml-0,
.mx-0 {
	margin-left: 0 !important;
}
.m-1 {
	margin: 0.25rem !important;
}
.mt-1,
.my-1 {
	margin-top: 0.25rem !important;
}
.mr-1,
.mx-1 {
	margin-right: 0.25rem !important;
}
.mb-1,
.my-1 {
	margin-bottom: 0.25rem !important;
}
.ml-1,
.mx-1 {
	margin-left: 0.25rem !important;
}
.m-2 {
	margin: 0.5rem !important;
}
.mt-2,
.my-2 {
	margin-top: 0.5rem !important;
}
.mr-2,
.mx-2 {
	margin-right: 0.5rem !important;
}
.mb-2,
.my-2 {
	margin-bottom: 0.5rem !important;
}
.ml-2,
.mx-2 {
	margin-left: 0.5rem !important;
}
.m-3 {
	margin: 1rem !important;
}
.mt-3,
.my-3 {
	margin-top: 1rem !important;
}
.mr-3,
.mx-3 {
	margin-right: 1rem !important;
}
.mb-3,
.my-3 {
	margin-bottom: 1rem !important;
}
.ml-3,
.mx-3 {
	margin-left: 1rem !important;
}
.m-4 {
	margin: 1.5rem !important;
}
.mt-4,
.my-4 {
	margin-top: 1.5rem !important;
}
.mr-4,
.mx-4 {
	margin-right: 1.5rem !important;
}
.mb-4,
.my-4 {
	margin-bottom: 1.5rem !important;
}
.ml-4,
.mx-4 {
	margin-left: 1.5rem !important;
}
.m-5 {
	margin: 3rem !important;
}
.mt-5,
.my-5 {
	margin-top: 3rem !important;
}
.mr-5,
.mx-5 {
	margin-right: 3rem !important;
}
.mb-5,
.my-5 {
	margin-bottom: 3rem !important;
}
.ml-5,
.mx-5 {
	margin-left: 3rem !important;
}

html[dir="ltr"] .ms-0 {
	margin-left: 0 !important;
}
html[dir="rtl"] .ms-0 {
	margin-right: 0 !important;
}
html[dir="ltr"] .ms-1 {
	margin-left: 0.25rem !important;
}
html[dir="rtl"] .ms-1 {
	margin-right: 0.25rem !important;
}
html[dir="ltr"] .ms-2 {
	margin-left: 0.5rem !important;
}
html[dir="rtl"] .ms-2 {
	margin-right: 0.5rem !important;
}
html[dir="ltr"] .ms-3 {
	margin-left: 1rem !important;
}
html[dir="rtl"] .ms-3 {
	margin-right: 1rem !important;
}
html[dir="ltr"] .ms-4 {
	margin-left: 1.5rem !important;
}
html[dir="rtl"] .ms-4 {
	margin-right: 1.5rem !important;
}
html[dir="ltr"] .ms-5 {
	margin-left: 3rem !important;
}
html[dir="rtl"] .ms-5 {
	margin-right: 3rem !important;
}
html[dir="ltr"] .ms-auto {
	margin-left: auto !important;
}
html[dir="rtl"] .ms-auto {
	margin-right: auto !important;
}

html[dir="ltr"] .me-0 {
	margin-right: 0 !important;
}
html[dir="rtl"] .me-0 {
	margin-left: 0 !important;
}
html[dir="ltr"] .me-1 {
	margin-right: 0.25rem !important;
}
html[dir="rtl"] .me-1 {
	margin-left: 0.25rem !important;
}
html[dir="ltr"] .me-2 {
	margin-right: 0.5rem !important;
}
html[dir="rtl"] .me-2 {
	margin-left: 0.5rem !important;
}
html[dir="ltr"] .me-3 {
	margin-right: 1rem !important;
}
html[dir="rtl"] .me-3 {
	margin-left: 1rem !important;
}
html[dir="ltr"] .me-4 {
	margin-right: 1.5rem !important;
}
html[dir="rtl"] .me-4 {
	margin-left: 1.5rem !important;
}
html[dir="ltr"] .me-5 {
	margin-right: 3rem !important;
}
html[dir="rtl"] .me-5 {
	margin-left: 3rem !important;
}
html[dir="ltr"] .me-auto {
	margin-right: auto !important;
}
html[dir="rtl"] .me-auto {
	margin-left: auto !important;
}

html[dir="ltr"] .ps-0 {
	padding-left: 0 !important;
}
html[dir="rtl"] .ps-0 {
	padding-right: 0 !important;
}
html[dir="ltr"] .ps-1 {
	padding-left: 0.25rem !important;
}
html[dir="rtl"] .ps-1 {
	padding-right: 0.25rem !important;
}
html[dir="ltr"] .ps-2 {
	padding-left: 0.5rem !important;
}
html[dir="rtl"] .ps-2 {
	padding-right: 0.5rem !important;
}
html[dir="ltr"] .ps-3 {
	padding-left: 1rem !important;
}
html[dir="rtl"] .ps-3 {
	padding-right: 1rem !important;
}
html[dir="ltr"] .ps-4 {
	padding-left: 1.5rem !important;
}
html[dir="rtl"] .ps-4 {
	padding-right: 1.5rem !important;
}
html[dir="ltr"] .ps-5 {
	padding-left: 3rem !important;
}
html[dir="rtl"] .ps-5 {
	padding-right: 3rem !important;
}

html[dir="ltr"] .pe-0 {
	padding-right: 0 !important;
}
html[dir="rtl"] .pe-0 {
	padding-left: 0 !important;
}
html[dir="ltr"] .pe-1 {
	padding-right: 0.25rem !important;
}
html[dir="rtl"] .pe-1 {
	padding-left: 0.25rem !important;
}
html[dir="ltr"] .pe-2 {
	padding-right: 0.5rem !important;
}
html[dir="rtl"] .pe-2 {
	padding-left: 0.5rem !important;
}
html[dir="ltr"] .pe-3 {
	padding-right: 1rem !important;
}
html[dir="rtl"] .pe-3 {
	padding-left: 1rem !important;
}
html[dir="ltr"] .pe-4 {
	padding-right: 1.5rem !important;
}
html[dir="rtl"] .pe-4 {
	padding-left: 1.5rem !important;
}
html[dir="ltr"] .pe-5 {
	padding-right: 3rem !important;
}
html[dir="rtl"] .pe-5 {
	padding-left: 3rem !important;
}
